<!DOCTYPE html>{% load cms_tags menu_tags sekizai_tags static i18n djangocms_alias_tags %}
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        {% block meta %}  {# Allows child templates to override or extend SEO metadata #}
            <meta name="description" content="{% page_attribute meta_description %}"/>
            <meta property="og:type" content="website"/>
            <meta property="og:title" content="{% page_attribute "page_title" %}"/>
            <meta property="og:description" content="{% page_attribute meta_description %}"/>
        {% endblock meta %}

        {% block canonical_url %}
            <link rel="canonical" href="{{ request.build_absolute_uri }}"/>  {# Prevents duplicate‑content issues by declaring the official URL #}
            <meta property="og:url" content="{{ request.build_absolute_uri }}"/>  {# Helps search engines understand the primary URL for the page #}
        {% endblock canonical_url %}

        {% block fb_meta %}{% endblock fb_meta %}  {# Reserved for Facebook App ID, Pixel, or other FB-specific metadata. Empty by default; child templates may override.#}

    <title>
            {% block title %}  {# Controls the <title> tag shown in the browser tab. Defaults to the CMS page title.#}
                {% page_attribute "page_title" %}
            {% endblock %}
        </title>

        {% block base_css %}{% endblock %} {# Child templates can inject global CSS here. #}
        {% render_block 'css' %}  {# Renders CSS collected from CMS plugins (carousel, tabs, images, etc.). #}
        {% block page_head %}{% endblock %} {# A general-purpose hook for child templates to add extra <head> content.#}
    </head>
    <body {% block body_attrs %}{% endblock %}>  {# Allows child templates to add classes or data attributes to <body>. #}
        {% cms_toolbar %}  {# Displays the django CMS editing toolbar for staff users.#}
        {% block navbar %}{% endblock %}  {# Child templates can insert a navigation bar here.#}


{#        {% load menu_tags %}#}
{#        <ul class="nav">#}
{#            {% show_menu 0 100 100 100 %}#}
{#        </ul>#}

        {% block content_header %}
            {% placeholder "Content (base.html)" %}
        {% endblock %}
        {% block content %}
        {% endblock content %}
        {% block content_footer %}
            <footer>
                {% static_alias 'Footer (base.html)' %}
            </footer>
        {% endblock %}


{#        {% block experimenting %}#}
{#            <p style="color: gray;">base.html Experimenting Block </p>#}
{#        {% endblock experimenting %}#}


        {% block base_js %}{% endblock %} {# Child templates to add extra <script>/js content #}
        {% render_block 'js' %} {# Renders JavaScript collected from CMS plugins. Placed at the bottom for performance #}
        {% block end_js %}{% endblock %} {# For page-specific inline scripts that must run last. #}
        {% block bottom_css %}{% endblock %} {# Rarely used; allows injecting CSS at the end of <body>. #}
    </body>
    </html>